/* Scyfin-mod Fork Extras*/
/* BW Logo */
.pageTitleWithDefaultLogo {
    background-image: url("https://i.ibb.co/JWYbjZ4z/jp.png");
}

/* Hide Next Up */
div.nextUpSection {
    display: none;
}

/* Smaller Cast/Crew/Guest Section */
#castContent .card.overflowPortraitCard {
    width: 10%;
}
#guestCastCollapsible .card.overflowPortraitCard {
    width: 10%;
}

/*Hide Upcoming on TV */
#seriesScheduleList {
    display: none !important;
    /* Hide the Upcoming on TV section */
}
#seriesScheduleSection {
    display: none !important;
    /* Hide the Upcoming on TV text */
}

/*Guide Settings*/
.lazy-image-fadein-fast.non-blurhashable.lazy.guideChannelImage {

    transition: filter 0.1s ease;
    z-index: 1;
}

.lazy-image-fadein-fast.non-blurhashable.lazy.guideChannelImage:hover {
    filter: drop-shadow(0 0 6px #676767); 
}


.programCell-active.itemAction.programCell:hover .guideProgramName > .guideProgramNameText {
    transition: text-shadow 0.2s ease; 
    text-shadow: 
        0 0 2px var(--primary-accent-color); 
}


/*TV Guide Settings*/
.channelsContainer button.itemAction.guide-channelHeaderCell:hover {
    background-color: var(--primary-accent-color) !important; 
}


 /* Re-position Title/Banner Image on details page */
 .layout-desktop .detailLogo,
 .layout-tv .detailLogo {
     right: 0 !important;
     left: 0% !important;
     top: 23% !important;
 }

.channelsContainer button.itemAction.guide-channelHeaderCell.selected {
    background-color: var(--primary-accent-color) !important; 
}
